<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Harenezumi</title>
    <link href="../static/style.css" rel="stylesheet">
  </head>
  <body class="page">
    {% block main %}{% endblock %}
    <footer class="page-footer">
      <div class="page-footer__wrapper">
        <div class="page-footer__logo">
          <img src="../static/img/hedgehog.svg" width=50 height=50 alt="Harenezumi logo">
          <img src="../static/img/harenezumi_b.png" width=150 height=20 alt="Harenezumi">
        </div>
        <section class="page-footer__contacts">
          <h2 class="visually-hidden">Contacts</h2>
          <p>TEL: <a class="page-footer__phone" href="tel:+8800888888">+8 800 888 888</a>
        </section>
        <section class="page-footer__nav">
          <h2 class="visually-hidden">Additional navigation</h2>
          <nav class="page-footer__navbar">
            <ul class="page-footer__nav-list">
              <li class="page-footer__nav-item">
                <a href="#">About</a>
              </li>
              <li class="page-footer__nav-item">
                <a href="#">FAQ</a>
              </li>
              <li class="page-footer__nav-item">
                <a href="#">Delivery</a>
              </li>
              <li class="page-footer__nav-item">
                <a href="#">Payment</a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
    </footer>
    <script type="text/javascript" src="../static/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/script.js"></script>
  </body>
</html>
