{% extends "layout.html" %}

{% block main %}

  <header class="page-header">
    <nav class="navbar">
      <a class="navbar__logo" href="/">
        <img src="../static/img/hedgehog.svg" width=50 height=50 alt="Harinezumi logo">
        <img src="../static/img/harinezumi.png" width=150 height=20 alt="Harinezumi">
      </a>
      <button class="navbar__toggler navbar__toggler--hide" aria-label="Toggle navigation"></button>
      <div class="navbar__collapse">
        <ul class="navbar__list">
          <li class="navbar__item">
            <a class="navbar__dropdown" href="/catalog">Show all products</a>
            <button class="navbar__dropdown-button" aria-label="Open list of product categories"></button>
            <ul class="navbar__dropdown-menu" aria-labelledby="dropdown">
              <li><a class="navbar__dropdown-item" href="/fruit">Fruits, Vegetables and Berries</a></li>
              <li><a class="navbar__dropdown-item" href="/dairy">Dairy</a></li>
              <li><a class="navbar__dropdown-item" href="/meat">Meat and fish</a></li>
              <li><a class="navbar__dropdown-item" href="/cereals">Cereals</a></li>
              <li><a class="navbar__dropdown-item" href="/drinks">Drinks</a></li>
              <li><a class="navbar__dropdown-item" href="/bread">Bread and bakery</a></li>
              <li><a class="navbar__dropdown-item" href="/snaks">Snacks</a></li>
              <li><a class="navbar__dropdown-item" href="/ready">Ready-made food</a></li>
              <li><a class="navbar__dropdown-item" href="/pet">Pet food</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <form class="navbar__search"  action="/search" method="get">
        <input class="navbar__search-input" autocomplete="off" name="q" type="text" placeholder="Search" aria-label="Search">
        <button type="submit" class="navbar__search-button" aria-label="Search"></button>
        <ul class="navbar__search-output visually-hidden"></ul>
      </form>
      <div class="navbar__user">
        <a class="navbar__user-cart" href="/cart">
          <div>Cart</div>
          <div class="navbar__user-cart-image">
            <img src="../static/img/cart.svg" width="20" height="20" alt="">
            {% if cart %}
              <div class="navbar__user-cart-status">{{ cart }}</div>
            {% endif %}
          </div>
        </a>
        <a class="navbar__user-login" href="#">
          <div>Login</div>
          <img src="../static/img/user.svg" width="20" height="20" alt="">
        </a>
      </div>
    </nav>
  </header>
  <main class="page-login">
    <div class="page-login__wrapper">
      <h1 class="page-login__title">Authorization</h1>
      {% if message %}
        <div class="page-login__message">
          {{ message }}
        </div>
      {% endif %}
      {% if get_flashed_messages() %}
        <div class="">
            {{ get_flashed_messages() | join(" ") }}
        </div>
      {% endif %}
      <form class="login__form" action="/login" method="post">
        <label class="visually-hidden" for="email">Email</label>
        <input class="login__input" id="email" name="email" type="email" placeholder="Email" autofocus autocomplete="off" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required>
        <label class="visually-hidden" for="password">Password</label>
        <input class="login__password" id="password" name="password" type="password" placeholder="Password" required minlength="6" maxlength="20">
        <button class="login__login-button" type="submit" name="login">Login</button>
      </form>
      <p>Don't have an account? Register <a class="login__register" href="/register">here</a>.</p>
    </div>
  </main>
{% endblock %}
