{% extends "layout.html" %}

{% block main %}
  <header class="page-header">
    <nav class="navbar">
      <a class="navbar__logo" href="/">
        <img src="../static/img/hedgehog.svg" width=50 height=50 alt="Harenezumi logo">
        <img src="../static/img/harenezumi_b.png" width=150 height=20 alt="Harenezumi">
      </a>
      <button class="navbar__toggler navbar__toggler--hide" aria-label="Toggle navigation"></button>
      <div class="navbar__collapse">
        <ul class="navbar__list">
          <li class="navbar__item">
            <a class="navbar__dropdown" href="/catalog">Show all products</a>
            <button class="navbar__dropdown-button"></button>
            <ul class="navbar__dropdown-menu" aria-labelledby="dropdown">
              <li><a class="navbar__dropdown-item" href="/fruit">Fruits, Vegetables and Berries</a></li>
              <li><a class="navbar__dropdown-item" href="/dairy">Dairy</a></li>
              <li><a class="navbar__dropdown-item" href="/meat">Meat and fish</a></li>
              <li><a class="navbar__dropdown-item" href="/cereals">Cereals</a></li>
              <li><a class="navbar__dropdown-item" href="/drinks">Drinks</a></li>
              <li><a class="navbar__dropdown-item" href="/bread">Bread and bakery</a></li>
              <li><a class="navbar__dropdown-item" href="/snaks">Snacks</a></li>
              <li><a class="navbar__dropdown-item" href="/ready">Ready-made food</a></li>
              <li><a class="navbar__dropdown-item" href="/pet">Pet food</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <form class="navbar__search"  action="/search" method="get">
        <input class="navbar__search-input" autocomplete="off" name="q" type="text" placeholder="Search" aria-label="Search">
        <button type="submit" class="navbar__search-button"></button>
        <ul class="navbar__search-output visually-hidden"></ul>
      </form>
      <div class="navbar__user">
        <a class="navbar__user-cart" href="/cart">
          <div>Cart</div>
          <img src="../static/img/cart.svg" width="20" height="20" alt="">
        </a>
        <a class="navbar__user-login" href="#">
          <div>Login</div>
          <img src="../static/img/user.svg" width="20" height="20" alt="">
        </a>
      </div>
    </nav>
  </header>
  <main class="page-product">
    <div class="page-product__wrapper">
      <h1 class="page-product__title">xx</h1>
      <section class="page-product__content">
        <img src="../static/img/catalog/olives.jpg" width="300" height="auto" alt="">
        <div class="page-product__description">
          <h2 class=""
        </div>
      </section>
    </div>
  </main>
{% endblock %}
